<div class="content"> <!-- se digitar apenas .content ele completa -->
  <div class="title">
      <h3>Clientes de </h3>
      <h4>{{ nomeNut }}</h4>  
  </div>
  <button class="mat-elevation-z8" (click)="navegarParaCriarCliente()" mat-stroked-button color="primary"> NOVO CLIENTE </button>

  <mat-form-field style=" width: 90%; margin: 30px 5% 0px 3%"  sticky>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Pesquisar..." #input>
    <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div class="mat-elevation-z8 content-table" style="overflow: auto;">


     <table  id="table" class="table"  mat-table [dataSource]='dataSource' matSort>
      
       <ng-container matColumnDef="codigo">
         <th  mat-header-cell *matHeaderCellDef mat-sort-header style="width: 2rem;">CODIGO</th>
         <td  id="linha"  mat-cell *matCellDef="let row">{{ row.codigo }}</td>
       </ng-container>
 
       <ng-container matColumnDef="nomeCompleto">
         <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 2rem;">NOME COMPLETO</th>
         <td  id="linha"  mat-cell *matCellDef="let row">{{ row.nomeCompleto }}</td>
       </ng-container>
 
       <ng-container  matColumnDef="infoAdicionais">
         <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 2rem; ">INFO ADICIONAIS</th>
         <td  id="linha"  mat-cell *matCellDef="let row">{{ row.infoAdicionais }}</td>
         
       </ng-container>

       <ng-container class="ativo" matColumnDef="ativo">
        <th  mat-header-cell *matHeaderCellDef mat-sort-header style="width: 1rem;">ATIVO</th>
      <td  id="linha"  mat-cell *matCellDef="let row"><mat-checkbox disabled [(ngModel)]="row.ativo" ></mat-checkbox></td>
       
      </ng-container>
 
       <!-- Symbol Column -->
       <ng-container matColumnDef="acoes" stickyEnd >
         <th class="mat-header" mat-header-cell *matHeaderCellDef style="border-left: 1px solid #dddddd">AÇÕES</th>
         <td  id="linha" mat-cell *matCellDef="let row" style="border-left: 1px solid #dddddd">
           <a class="edit"  routerLink="update/{{ row.codigo }}">
             <i class="material-icons" style="display: block;">edit</i>
           </a>
           <a class="delete" routerLink="delete/{{ row.codigo }}"> <!--vai para a rota : delete/id da tegoria-->
             <i class="material-icons" style="display: block; padding-left: 20%;">delete</i>
           </a>
           <a class="consulta"  routerLink="{{ row.codigo }}/consultas">
            <i class="material-icons" style="display: block; margin-top: 1rem;">book</i>
          </a>
         </td>
       </ng-container>
 
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

       <tr *matNoDataRow>
        <td colspan="4" style=" width: 100%; padding: 1% 1% .1rem 5%; text-align: center;">Nenhum dado encontrado <mat-progress-bar  mode="indeterminate"></mat-progress-bar></td>
       </tr>
     </table>
     <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

 </div>
   
</div>