<form>
    <h1>ATUALIZANDO UM CLIENTE</h1>
    
    <mat-form-field class="form">
        <mat-label>Nome completo:</mat-label>
        <input matInput [(ngModel)]="cliente.nomeCompleto" [formControl]="nomeCompleto" required type="text" name="nomeCompleto" placeholder="Ex: Pedro Algusto Santos" maxlength="100">
        <mat-error *ngIf="nomeCompleto.invalid" >{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field  class="form" >
        <mat-label>Data de Nascimento:</mat-label>
        <input matInput disabled [(ngModel)]="cliente.dataNascimento" required [ngModelOptions]="{standalone: true}" [matDatepicker]="picker" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field class="form">
        <mat-label>E-mail:</mat-label>
        <input matInput [(ngModel)]="cliente.email" [formControl]="email" required type="text" name="email" placeholder="Ex: EXAMPLE@HOTMAIL.COM" maxlength="100">
        <mat-error *ngIf="email.invalid" >{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Usuario:</mat-label>
        <input matInput [(ngModel)]="cliente.usuario" [formControl]="usuario" required  type="text" name="usuario" placeholder="Ex: Lorem Ipsum" maxlength="200">
        <mat-error *ngIf="usuario.invalid" >{{ getMessage() }}</mat-error>

    </mat-form-field>

    
    <mat-form-field class="form">
        <mat-label>Senha:</mat-label>
        <input matInput [(ngModel)]="cliente.senha" [formControl]="senha" required [type]="hide ? 'password' : 'text'" name="senha" placeholder="*********" maxlength="11">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="senha.invalid" >{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Confirmar senha:</mat-label>
        <input matInput [(ngModel)]="senhaConfirm" [formControl]="senhaConfirma"  [type]="hide2 ? 'password' : 'text'" name="senhaConfirm" placeholder="*********" maxlength="11">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide2 password'" [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="senhaConfirma.invalid" >{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Telefone:</mat-label>
        <input matInput [(ngModel)]="cliente.telefone" [formControl]="telefone" required type="text" name="telefone" placeholder="EX: (99) 9999-9999" maxlength="20">
        <mat-error *ngIf="infoAdicionais.invalid" >{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Celular:</mat-label>
        <input matInput [(ngModel)]="cliente.celular" [formControl]="celular" required type="text" name="celular" placeholder="EX: (99) 9999-9999" maxlength="20"/>
        <mat-error *ngIf="celular.invalid" >{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Informações Adicionais:</mat-label>
        <textarea matInput [(ngModel)]="cliente.infoAdicionais" [formControl]="infoAdicionais" type="text" name="infoAdicionais" placeholder="Ex: Lorem Ipsum" maxlength="2000"></textarea>
        <mat-error *ngIf="telefone.invalid" >{{ getMessage() }}</mat-error>  <!--ele apresenta uma mensagem no input-->
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Ativo:</mat-label>
        <input matInput type="text" disabled>
        <mat-checkbox [(ngModel)]="cliente.ativo" [ngModelOptions]="{standalone: true}"></mat-checkbox>
    </mat-form-field>

    <div class="buttons">
        <button (click)="update()"   [disabled]="getMessage()" class="mat-elevation-z8" mat-stroked-button color="primary"> ATUALIZAR </button>
        <!--isso que eu coloquei no disabled é uma condição, fica desabilitado em quanto estiver retornando falso -->
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>

    </div>
</form>