<button (click)="cancel()"  class="mat-elevation-z15" style="display: block; justify-content: center; margin: 1rem auto 1rem auto;" mat-stroked-button color="warn"> CANCELAR </button>
<mat-card class="home mat-elevation-z4 cartao"> 
    <mat-card-title>
        <div class="login">
        
          <mat-icon class="person">person</mat-icon>
          <mat-form-field class="identificacao">
            <mat-label >id</mat-label>
            <input [(ngModel)]="cliente.codigo" matInput disabled>
          </mat-form-field>
          <mat-form-field class="identificacao">
            <mat-label >usuario</mat-label>
            <input [(ngModel)]="cliente.nomeCompleto"  matInput disabled>
          </mat-form-field>
          <mat-form-field class="identificacao">
            <mat-label >senha</mat-label>
            <input [(ngModel)]="cliente.senha"  matInput disabled>
          </mat-form-field>
          <mat-form-field class="identificacao" >
            <mat-label >Login</mat-label>
            <input [(ngModel)]="cliente.usuario" matInput disabled>
          </mat-form-field>
          <mat-form-field class="identificacao">
            <mat-label >data de nascimento</mat-label>
            <input [(ngModel)]="cliente.dataNascimento" matInput disabled>
          </mat-form-field>

          <mat-nav-list style="color:rgb(0, 135, 49) ; text-align: center;">
            <h1>Consulta > Anamnese</h1> 

            <div class="progress-bar" name="loading" [ngClass]="inProgress ? 'in-progress' : ''"></div>


            <h1>{{consulta.dataConsulta}}</h1>
            <button  [disabled]="desabilitaEsquerda()" (click)="setaEsquerda()" mat-mini-fab aria-label="Example icon button with a home icon" style="background-color: rgb(0, 135, 49);">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <h1 style="display: inline; margin: 2%;">{{indexConsulta}}</h1>
            <button  [disabled]="desabilitaDireita()" (click)="setaDireita()" mat-mini-fab aria-label="Example icon button with a home icon" style="background-color: rgb(0, 135, 49);">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </mat-nav-list>
          <div class="buttons" style="padding-top: 3% ;">
      
            <button  class="mat-elevation-z15" (click)="createDialog()"
             mat-stroked-button color="primary" style="margin-right: 3%;"> NOVA CONSULTA </button>
            <!--isso que eu coloquei no disabled é uma condição, fica desabilitado em quanto estiver retornando falso -->
            <button  class="mat-elevation-z15" (click)="delete()" mat-stroked-button color="warn"> EXCLUIR CONSULTA </button>
          </div>

          <mat-card class="home mat-elevation-z15 cartao">
            <mat-card-title>
              <h3>Dados Antopométricos</h3>
              <mat-form-field class="campoLogin">
                <h2>Histórico social e familiar</h2>
                <mat-label ></mat-label>
                <textarea [(ngModel)]="consulta.historicoSocialFamiliar" matInput type="text" placeholder="Ex: Lorem Ipsum" maxlength="2000"></textarea>
              </mat-form-field>

              <mat-form-field class="dados"  appearance="fill">
                <mat-label >Peso:</mat-label>
                <input [(ngModel)]="consulta.peso"  placeholder="Ex: 70.00" matInput>
              </mat-form-field>
              <mat-form-field class="dados" appearance="fill">
                <mat-label >Altura:</mat-label>
                <input [(ngModel)]="consulta.altura"  placeholder="Ex: 1.70" matInput>
              </mat-form-field>
              <mat-form-field class="dados"  placeholder="Ex: 18" appearance="fill">
                <mat-label >Idade:</mat-label>
                <input [(ngModel)]="consulta.idade" matInput disabled>
              </mat-form-field>
              <mat-form-field class="dados" appearance="fill">
                <mat-label >Sexo (m/f):</mat-label>
                <input [(ngModel)]="consulta.sexo"  placeholder="Ex: F" matInput>
              </mat-form-field>
              <mat-form-field class="dados"  appearance="fill">
                <mat-label >Taxa MB (kcal):</mat-label>
                <input [(ngModel)]="consulta.taxaMB"  placeholder="Ex: 2000" matInput>
              </mat-form-field>
              <mat-form-field class="dados"  appearance="fill">
                <mat-label >Gasto ET:</mat-label>
                <input [(ngModel)]="consulta.gastoEnergTot" matInput disabled>
              </mat-form-field>
              <mat-form-field class="dados"  appearance="fill">
                <mat-label >Tipo Físico:</mat-label>
                <input [(ngModel)]="consulta.estadoCorporal" matInput placeholder="Ex: Sobrepeso">
              </mat-form-field>
              <mat-form-field class="dados"  appearance="fill">
                <mat-label >Fator atividade:</mat-label>
                <input [(ngModel)]="consulta.fatorAtividade" placeholder="Ex: 1.5" matInput>
              </mat-form-field>
              
              <mat-form-field class="campoLogin" appearance="fill">
                <h4>Diagnóstico:</h4>
                <mat-label ></mat-label>
                <textarea [(ngModel)]="consulta.diagnostico" matInput type="text" placeholder="Ex: Lorem Ipsum" maxlength="2000"></textarea>
              </mat-form-field>
                
                <mat-card  class="mat-elevation-z6" style="margin-bottom: 10px;  color:rgb(0, 135, 49)">
                              <h3>Quanto ofertar para o meu paciente</h3>
                  <mat-form-field class="dados"  appearance="fill">
                    <mat-label >Valor energético oferecido:</mat-label>
                    <input [(ngModel)]="consulta.vetValorEnergOfertado" matInput>
                  </mat-form-field>
      
                  <mat-form-field class="dados"  appearance="fill">
                    <mat-label >Gordura oferecida:</mat-label>
                    <input [(ngModel)]="consulta.gorduraOfertada" matInput>
                  </mat-form-field>

                  <mat-form-field class="dados"  appearance="fill">
                    <mat-label >Proteinas oferecidas:</mat-label>
                    <input [(ngModel)]="consulta.proteinasOfertadas" matInput>
                  </mat-form-field>

                  <mat-form-field class="dados"  appearance="fill">
                    <mat-label >Carboidratos oferecidos:</mat-label>
                    <input [(ngModel)]="consulta.carboidratosOfertados" matInput>
                  </mat-form-field>

         
                  <h3>Nutrientes somados das refeições</h3>
                  

                  <mat-form-field class="dados"  appearance="fill">
                    <mat-label >Valor energético Somado (kcal):</mat-label>
                    <input [(ngModel)]="totalCalorias" matInput>
                  </mat-form-field>
      
                  <mat-form-field class="dados"  appearance="fill">
                    <mat-label >Gordura Somadas (g):</mat-label>
                    <input [(ngModel)]="totalGorduras" matInput>
                  </mat-form-field>

                  <mat-form-field class="dados"  appearance="fill">
                    <mat-label >Proteinas Somadas (g):</mat-label>
                    <input [(ngModel)]="totalProteinas" matInput>
                  </mat-form-field>

                  <mat-form-field class="dados"  appearance="fill">
                    <mat-label >Carboidratos Somados (g):</mat-label>
                    <input [(ngModel)]="totalCarboidratos" matInput>
                  </mat-form-field>
                </mat-card>

            </mat-card-title>
            <div class="buttons" style="padding-top: 1% ;">
              <button   class="mat-elevation-z15" mat-stroked-button color="primary" (click)="update()" style="margin-right: 3%;"> GRAVAR ALTERAÇÕES </button>
              <!--isso que eu coloquei no disabled é uma condição, fica desabilitado em quanto estiver retornando falso -->
      
            </div>

            <mat-card class="mat-elevation-z15" (click)="abrirRefeicoes()"  style="margin-top: 3% ; cursor: pointer; color:rgb(0, 135, 49)">CLICAR PARA ABRIR PRESCRIÇÃO DIETÉTICA</mat-card>

  
          </mat-card>


        
        </div>
        <!--
        <tr mat-header-row *matHeaderRowDef="id"></tr>
        <tr mat-row *matRowDef="let id"></tr>
        -->
    </mat-card-title>
</mat-card>





